body {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
}

.header_container {
    width: 100%;
    height: auto;
}

.header_picture {
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    display: flex;
}

#wrap {
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: black;
}


.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;   
}

.navbar li {
    height: auto;
    width: 200px;
    float: left;
    text-align: center;
    list-style: none;
    font: inherit;
    padding: 0;
    margin: 0;
    background-color: black;
}

.navbar a {
    padding: 10px 0;
    border-right: 1px solid;
    text-decoration: none;
    color: white;
    display: block;
}

.navbar li:hover,
a:hover {
    background-color: grey;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.navbar li:hover ul {
    display: block;
}

.navbar li ul li {
    background-color: darkcyan;
}

.navbar li ul li a {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.navbar li ul li a:hover {
    background-color: lightblue;
}

.navbar {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.menu-icon .navicon {
    background: darkcyan;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: darkcyan;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}


.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}



@media screen and (min-width: 48em) {

    header,
    footer {
        clear: both;
    }

    .navbar li {
        float: left;
    }

    .navbar li a {
        padding: 10px 0;
    }

    .navbar.active {
        left: 0;
    }

    .navbar li {
        margin: 0;
    }

    .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 48em) {
    .navbar {
        display: none;
        clear: both;
        float: right;
        max-height: none;
    }

    .menu-btn:checked ~ .navbar {
        max-height: 240px;
        opacity: 1;
        transition: all 0.2s ease-out;
    }
}


.slider {
    max-width: 500px;
    height: auto;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 1500px;
    background-color: transparent;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 500px;
}

#slide-1:target ~ .image-container {
    left: -500px;
}

#slide-2:target ~ .image-container {
    left: 0;
}

.buttons {
    position: relative;
    top: -20px;
}

.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: black;
    opacity: 50%;
}




.home-header {
    text-align: center;
    padding-top: 20px;
}

.center-p {
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
    text-align: left;
}

.footer-wrap {
    width: 100%;
    height: 200px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: darkslateblue;
    justify-content: flex-end;
    padding: 3rem;
}

.footer-column {
    float: left;
    width: 33.33%;
}

.footer-wrap:after {
    content: "";
    display: table;
    clear: both;
}

.footer-column p,
.footer-column h2,
.footer-column li,
.footer-column a {
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    .footer-column {
        max-width: 100%;
    }
}

.about-h1 {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.research-info {
    padding-left: 50px;
}

.service-h2 {
    padding-left: 90px;
}

.inner-p {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 100px;
}

blockquote {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    color: blue;
    font-style: italic;
    font-size: 16px;
}


form {
    width: 60%;
    margin: auto;
  }

.contact-box {
    width: 70%;
    padding: 12px 12px 12px 12px;
    margin: 3em auto;
    background: grey;
    border-radius: 4px;
}

label {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=phone] {
    width: 100%;
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.form-input:focus {
    outline: none;
    border: 2px solid #1565C0;
}

button[type=submit] {
    background: #64B5F6;
    margin: 20px 45%;
    outline: 0;
    color: white;
    border: 0;
    padding: 15px 30px;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

button[type=submit]:focus {
    color: whitesmoke;
}

button[type=submit]:hover {
    background: blue;
}

.form-p {
    text-align: center;
    font-size: 22px;
}

#get_involved {
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}


.error-message {
    margin-top: -1em;
    margin-bottom: 1em;
    padding-top: 5px;
    color: #C62828;
    font-weight: bold;
  }

input.form-input.error {
    border-color: red;
}